{% extends 'base.html' %}

{% set page_head_title = 'My Account' %}

{% block page_head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('myAccount.static', filename='css/myAccount.css') }}">
{% endblock %}



{% block main %}
    {% block page_second_title %}
        <div class="second-title">
            <h2>Your Account Details:</h2>
        </div>
    {% endblock %}


    <div class="content text-font">
        <form action="{{ url_for('myAccount.update_account') }}" method="POST" class="account-form">
            <div class="{% if updated %} msg-success {% else %} msg-error {% endif %}">
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
            <div class="form-fields">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <div>
                        <input type="email" id="email" name="email" value="{{ user.email }}" disabled>
                    </div>
                </div>
                <div class="input-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" name="first-name" value="{{ user.firstName }}"
                           placeholder="Enter your first name" required>
                </div>
                <div class="input-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" name="last-name" value="{{ user.lastName }}"
                           placeholder="Enter your last name" required>
                </div>
                <div class="input-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" value="{{ user.phone }}"
                           placeholder="Enter your phone number"
                           required>
                </div>
                <div class="input-group">
                    <label for="city">City:</label>
                    <select name="city" id="city" required>
                        <option value="{{ user.city }}" selected>{{ user.city }}</option>
                        {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="{{ user.password }}"
                           placeholder="Enter your password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password"
                           placeholder="Confirm your password"
                           required>
                </div>
            </div>

            <div class="action-buttons">
                <input type="submit" value="Update Details">
            </div>
        </form>
    </div>

{% endblock %}


{% block page_body_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/myAccount.js') }}"></script>
{% endblock %}