<!-- Confirmation message container -->
<div id="confirmation-message" class="confirmation-message" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="hideConfirmationMsg()">&times;</span>
        <div class="modal-body">
            <h1 class="main-title">Your details have been sent!</h1>
            <div class="content-section">
                <p>Happy to help!
                    <br>
                    We have sent your details to all the coaches requested.
                    <br>
                    Have fun and let us know about your experience!
                </p>
            </div>
            <div class="modal-buttons">
                <button class="close-button" onclick="hideConfirmationMsg()">Close</button>
            </div>
        </div>
    </div>
</div>
