/* aboutUs_style.css */

/* Highlight the navbar link for About Us */
.flex-navbar a:nth-child(4) {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 20px;
}

/* Styles for the container */
.container {
    display: flex;
    flex-direction: column; /* Change direction to column for smaller screens */
    margin: 20px;
}

/* Styles for the about-us-content */
.about-us-content {
    margin-bottom: 20px; /* Add margin between content and images */
}

/* Styles for the about-us-images */
.about-us-images img {
    width: 100%; /* Make images take full width of container */
    display: block; /* Prevent inline spacing */
    margin-bottom: 20px; /* Add margin between images */
}

/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {
    /* Adjust layout for larger screens */
    .container {
        flex-direction: row; /* Change direction back to row */
        justify-content: space-between; /* Space between content and images */
    }

    .about-us-content {
        flex-basis: 60%; /* Set width for content */
        margin-bottom: 0; /* Reset margin */
    }

    .about-us-images {
        flex-basis: 30%; /* Set width for images */
    }
}
