* {
    margin: 0;
    padding: 0;
}
header {
        border: black 2px solid;

}

body {
    background-color: #A2C2C9;
    line-height: 1.8;
    margin: 20px;
}

.title-font {
    font-family: "Segoe Script", sans-serif;
}

.main-title{
    /*font-family: "Segoe Script", sans-serif;*/
    font-size: 50px;
    text-align: left;
    /*text-transform: uppercase;*/
}

.text font {
    font-family: "Segoe UI", sans-serif;
}


.navbar ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 75%);
    /*background-color: #8E8E8E;*/
    padding: 5px;
    margin: 10px 30px;
    overflow: hidden;
    border-radius: 20px;
    max-width: 30%;

    border: black 2px solid;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;

}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 90%);
    border-radius: 20px;
}

.navbar a:active {
    color: cadetblue;

}

/*.navbar a:visited {*/
/*    color: #8E8E8E;*/
/*}*/

.page-title {
    font-size: 50px;
    text-align: center;

}
