* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A2C2C9;
    line-height: 1.8;
    margin: 20px;
}

header {
    background-image: url('pics/field-fixed.jpg'); /* Add the path to your background image */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}


.main-title{
    font-family: "Segoe Script", sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
    /*text-transform: uppercase;*/
}

.nav-text-font {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
}

.text-font {
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
}

.second-title {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    text-align: center;
}

nav {
    font-size: 30px;
}

.flex-navbar {
    background-color: #8E8E8E;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 20px;
}

.flex-navbar a {
    text-decoration: none;
    color: white;
    text-align: center;
    flex-basis: 600px;
    padding: 10px;
    margin: 10px;
}

.flex-navbar a:hover {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 20px;
    color: #8E8E8E;
}