.flex-navbar a:nth-child(3){
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
}

.account-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.msg {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-fields {
    margin-bottom: 15px;
    border-radius: 20px;
}

.form-fields label {
    display: inline-block;
    width: 30%;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group div {
    flex: 1;
    margin-right: 10px;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #8E8E8E;
    border-radius: 20px;
    flex: 1;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #8E8E8E;
    border-radius: 20px;
    box-sizing: border-box;
    flex: 1;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #8E8E8E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6E6E6E;
}
