* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: black;
    /*
    Photo by <a href="https://unsplash.com/@yellowteapot?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Meghan Holmes</a> on <a href="https://unsplash.com/photos/two-person-inside-gym-exercising-buWcS7G1_28?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    */
    background-image: url('pics/Premium Photo _ Black dumbbell set_ close up many metal dumbbells on rack in sport fitness center.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title{
    font-family: "Segoe Script", sans-serif;
    color: #D9D9D9;
    font-size: 30px;
    /*text-align: left;*/
    padding-left: 20px;
    /*text-transform: uppercase;*/
    margin: 0 auto;
}

.second-title {
    font-family: "Segoe UI", sans-serif;
    color: #D9D9D9;
    font-size: 20px;
    /*text-align: center;*/
    margin-left: 70px;

}

.container {
    max-width: 800px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.item {
    flex: 1;
    padding: 20px;
    border-radius: 20px;
}

.item:nth-child(1) {
    background-color: rgba(162, 194, 201, 0.85);
    margin-right: 20px;
    margin-top: 30px;
}

/*.item:nth-child(2){*/
/*    background-color: rgba(217, 217, 217, 0.54);*/
/*}*/

.msg {
    color: red;
    font-size: 20px;
}

.form-fields {
    margin-bottom: 20px;
}

.form-fields label {
    display: block;
    margin-bottom: 5px;
}

.form-fields input[type="text"],
.form-fields input[type="password"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields input[type="tel"] { /* Added phone number input type */
    width: 100%;
    padding: 10px;
    background-color: #8E8E8E;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.form-fields input[type="checkbox"] {
    margin-right: 5px;
}

.form-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-btn input[type="submit"]:hover {
    background-color: rgba(128, 128, 128, 0.33);
}

.pic-grid {
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    margin-bottom: 20px; /* Increase margin bottom for spacing */
}

.pic-grid img {
    max-width: 100%;
    border-radius: 5px;
    vertical-align: middle; /* Vertically align images */
}

.pic-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; /* Add margin to the top */
}

.pic-container .pic-grid:nth-child(even) {
    margin-left: auto;
}

/* Footer Styles */
footer {
    margin-top: 20px;
    background-color: rgba(142, 142, 142, 0.43);
    color: #090808;
    padding: 10px;
}