* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item {
    flex: 1;
    padding: 20px;
    border-radius: 20px;
}

.item:nth-child(1) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(217, 217, 217, 0.41);
}

.item:first-child {
    margin-right: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-fields {
    margin-bottom: 20px;
}

.form-fields label {
    display: block;
    margin-bottom: 5px;
}

.form-fields input[type="text"],
.form-fields input[type="password"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields input[type="tel"] { /* Added phone number input type */
    width: 100%;
    padding: 10px;
    background-color: #8E8E8E;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.form-fields input[type="checkbox"] {
    margin-right: 5px;
}

.form-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-btn input[type="submit"]:hover {
    background-color: rgba(128, 128, 128, 0.33);
}

.pic-grid {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; /* Increase margin bottom for spacing */
}

.pic-grid img {
    max-width: 100%;
    border-radius: 5px;
    vertical-align: middle; /* Vertically align images */
}

.pic-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; /* Add margin to the top */
}

.pic-container .pic-grid:nth-child(even) {
    margin-left: auto;
}