{% extends 'base.html' %}

{% set page_head_title = 'Find Coach' %}

{# CSS #}
{% block page_head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('findCoach.static', filename='css/findCoach.css') }}">
<link rel="stylesheet" href="{{ url_for('coachDetails.static', filename='css/coachDetails.css') }}">
{% endblock %}


{% block main %}


<h2>Hello {{ name }}!</h2>


{% block page_second_title %}
<div class="second-title">
    <h2>Choose the coaches you are interested with, so they can contact you:</h2>
</div>
{% endblock %}


<form action="{{ url_for('findCoach.find_coach') }}" method="GET">
    <div class="search-form text-font">
        <div class="search-input">
            <label for="training-type">Training Type:</label>
            <select name="training-type" id="training-type">
                <option value="cardio">Cardio</option>
                <!--<option value="weight-lifting">Weight Lifting</option>-->
                <option value="yoga">Yoga</option>
                <option value="tennis">Tennis</option>
                <option value="pilates">Pilates</option>
                <!--<option value="crossfit">Crossfit</option>-->
            </select>
        </div>
        <div class="search-input">
            <label>Training Time:</label>
            <div>
                <input class="radio" type="radio" id="morning" name="training-time" value="morning">
                <label class="label-option" for="morning">Morning</label>
            </div>
            <div>
                <input class="radio" type="radio" id="evening" name="training-time" value="evening">
                <label class="label-option" for="evening">Afternoon/Evening</label>
            </div>
        </div>
        <div class="search-input">
            <label for="training-level">Training Level:</label>
            <select name="training-level" id="training-level">
                <option value="beginner">Beginner</option>
                <option value="advanced">Advanced</option>
            </select>
        </div>
        <div class="search-input">
            <label class="label-category">Training Location:</label>
            <div>
                <input class="radio" type="radio" id="geolocation" name="location" value="current" checked>
                <label class="label-option" for="geolocation">Use My Current Location</label>
            </div>
            <div>
                <input class="radio" type="radio" id="cityLocation" name="location" value="city">
                <label class="label-option" for="cityLocation">In My City</label>
            </div>
        </div>

        <input type="hidden" name="latitude" value="">
        <input type="hidden" name="longitude" value="">
        <button type="submit" class="search-button">Search</button>
    </div>
</form>

<div id="search-results-list">
    {% for coach in coaches %}
    <div class="coach">
        <input type="checkbox">
        <span class="coach-name">{{ coach.name }}</span>
        <span class="stars">{{ coach.rating }}</span>
        <span class="class-type">Type: {{ coach.classType }}</span>



        <button type="button" class="learn-more-button" data-phone="{{ coach.phone }}">Learn More</button>


    </div>
    {% endfor %}
</div>

<button id="contact-me-button">Contact Me</button>

<!-- Confirmation message container -->
<div id="confirmation-message">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
            <h1 class="main-title">Your details have been sent!</h1>
            <div class="content-section">
                <p>Happy to help!
                    <br>
                    We have sent your details to all the coaches requested.
                    <br>
                    Have fun and let us know about your experience!
                </p>
            </div>
            <div class="modal-buttons">
                <button class="close-button">Close</button>
            </div>
        </div>
    </div>
</div>

{% if show_modal %}
  <div id="details-modal" style="display: block;">
    {% include 'coachDetails.html' %}
  </div>
{% endif %}

{% endblock %}

{% block page_body_js %}

<!--{% if show_modal %}-->
<!--&lt;!&ndash;  <script>&ndash;&gt;-->
<!--&lt;!&ndash;    // JavaScript to open the modal immediately after page load&ndash;&gt;-->
<!--&lt;!&ndash;    window.onload = function() {&ndash;&gt;-->
<!--&lt;!&ndash;      // The modal should have an ID that you can use to select it&ndash;&gt;-->
<!--&lt;!&ndash;      const modal = document.getElementById('details-modal');&ndash;&gt;-->
<!--&lt;!&ndash;      modal.style.display = 'block';&ndash;&gt;-->
<!--&lt;!&ndash;    };&ndash;&gt;-->
<!--&lt;!&ndash;  </script>&ndash;&gt;-->
<!--{% endif %}-->

<script src="{{ url_for('findCoach.static', filename='js/findCoach.js') }}"></script>

{% endblock %}