{% extends 'base.html' %}

{% set page_head_title = 'Find Coach' %}

{% block page_head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('findCoach.static', filename='css/findCoach.css') }}">
    <link rel="stylesheet" href="{{ url_for('coachDetails.static', filename='css/coachDetails.css') }}">
    <link rel="stylesheet" href="{{ url_for('rateForm.static', filename='css/rateForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('confirmationMsg.static', filename='css/confirmationMsg.css') }}">
{% endblock %}


{% block main %}

    <h2 class="hello-user">Hello {{ session.get('name') }}!</h2>

    {% block page_second_title %}
        <div class="second-title">
            <h2>Choose the coaches you are interested with, so they can contact you:</h2>
        </div>
    {% endblock %}


    <form action="{{ url_for('findCoach.find_coach') }}" method="GET">
        <div class="search-form text-font">
            <div class="search-input">
                <label for="training-type">Training Type:</label>
                <select name="training-type" id="training-type">
                    <option value="cardio">Cardio</option>
                    <!--<option value="weight-lifting">Weight Lifting</option>-->
                    <option value="yoga">Yoga</option>
                    <option value="tennis">Tennis</option>
                    <option value="pilates">Pilates</option>
                    <!--<option value="crossfit">Crossfit</option>-->
                </select>
            </div>
            <div class="search-input">
                <label>Training Time:</label>
                <div>
                    <input class="radio" type="radio" id="morning" name="training-time" value="morning">
                    <label class="label-option" for="morning">Morning</label>
                </div>
                <div>
                    <input class="radio" type="radio" id="evening" name="training-time" value="evening">
                    <label class="label-option" for="evening">Afternoon/Evening</label>
                </div>
            </div>
            <div class="search-input">
                <label for="training-level">Training Level:</label>
                <select name="training-level" id="training-level">
                    <option value="beginner">Beginner</option>
                    <option value="advanced">Advanced</option>
                </select>
            </div>
            <div class="search-input">
                <label class="label-category">Training Location:</label>
                <div>
                    <input class="radio" type="radio" id="geolocation" name="location" value="current" checked>
                    <label class="label-option" for="geolocation">Use My Current Location</label>
                </div>
                <div>
                    <input class="radio" type="radio" id="cityLocation" name="location" value="city">
                    <label class="label-option" for="cityLocation">In My City</label>
                </div>
            </div>

            <input type="hidden" name="latitude" id="latitudeInput" value="">
            <input type="hidden" name="longitude" id="longitudeInput" value="">

            <button type="submit" class="search-button">Search</button>
        </div>
    </form>

    <form id="coaches-form" action="{{ url_for('findCoach.contact_coaches') }}" method="POST">
        <div id="search-results-list">
            {% for coach in coaches %}
                <div class="coach">
                    <input type="checkbox" name="selected_coaches" value="{{ coach.phone }}">
                    <span class="coach-name">{{ coach.name }}</span>
                    <div class="stars" id="rating-container">
                        {% for star in range(coach.rating|int) %}
                            <span>&#9733;</span> <!-- Filled star -->
                        {% endfor %}
                        {% for star in range(5 - coach.rating|int) %}
                            <span>&#9734;</span> <!-- Empty star -->
                        {% endfor %}
                    </div>

                    <span class="class-type">Type: {{ coach.classType }}</span>

                    <button type="button" onclick="showLearnMore('{{ coach.phone }}')" class="learn-more-button">Learn
                        More
                    </button>

                    {% if coach not in favorites %}

                        <form action="{{ url_for('findCoach.add_to_favorites', coach_phone=coach.phone) }}"
                              method="POST">
                            <button class="addToFavorites-button" type="submit">Add to Favorites</button>
                        </form>
                    {% else %}
                        <span class="in-favorites">In Favorites</span>
                    {% endif %}

                    {% include 'coachDetails.html' %}

                </div>
            {% else %}
                <p>Unfortunately there are no matching coaches.</p>

            {% endfor %}
        </div>
{#        {% include 'confirmationMsg.html' %}#}

        <button type="submit" id="contact-me-button">Contact Me</button>


    </form>

    {% if contact_made %}
        showConfirmationMsg()

    {% endif %}


{% endblock %}

{% block page_body_js %}
    {{ super() }}
    <script src="{{ url_for('findCoach.static', filename='js/findCoach.js') }}"></script>
    <script src="{{ url_for('coachDetails.static', filename='js/coachDetails.js') }}"></script>
    <script src="{{ url_for('rateForm.static', filename='js/rateForm.js') }}"></script>
    <script src="{{ url_for('confirmationMsg.static', filename='js/confirmationMsg.js') }}"></script>
{% endblock %}
