<header class="title-font main-title">
    <h1>Find My Coach</h1>
</header>

<nav class="text-font flex-navbar">
    <!--    <a href="/">Home Page</a>-->
    <a href="/findCoach/">Find Coach</a>
    <a href="/favorites">Favorites</a>
    <a href="/myAccount">My Account</a>
    <a href="/aboutUs">About Us</a>
    <a href="{{ url_for('signIn.logout_func') }}">Log Out</a>
    <!--    <a href="/signIn">Sign In</a>-->
    <!--    <a href="/signUp">Sign Up</a>-->


    <!--    <a href="/mongodb">mongodb</a>-->
    <!--    <a href="aboutUs">About Us</a>-->
    <!--    <a href="home">Sign Out</a>-->
</nav>
