#confirmation-message {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#confirmation-message .modal-content {
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    position: relative;
    background-image: url('../../../../static/media/img/woman_trainer_pilates.jpg');
    background-size: cover;
    background-position: center;

}

#confirmation-message .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

#confirmation-message .modal-body {
    background-color: rgba(217, 217, 217, 0.75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#confirmation-message .modal-body .main-title {
    margin-bottom: 10px;
    font-size: 24px;
}

#confirmation-message .modal-body .content-section {
    text-align: center;
    margin-bottom: 20px;
}

#confirmation-message .modal-buttons {
    display: flex;
    justify-content: center;
}

#confirmation-message .modal-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    border: 2px #8E8E8E solid;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmation-message .modal-buttons button:hover {
    background-color: #6E6E6E;
}