<!-- Learn More Coach Details container -->
<div id="details-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
            <div class="content-section">
                <h1 class="main-title">Coach Details</h1>
                <div class="coach-info">
                    <!-- Dynamically insert coach name -->
                    <h2 id="coach-name">{{ coach.name }}</h2>
                    <!-- Generate star ratings -->
                    <div class="rating" id="rating-container">
                        {% for star in range(coach.rating) %}
                            <span class="star">&#9733;</span> <!-- Filled star -->
                        {% endfor %}
                        {% for star in range(5 - coach.rating) %}
                            <span class="star">&#9734;</span> <!-- Empty star -->
                        {% endfor %}
                    </div>
                    <!-- Dynamically insert coach details -->
                    <p class="text-font">Type of Coach: <span id="coach-type">{{ coach.classType }}</span></p>
                    <p class="text-font">Experience: <span id="coach-experience">{{ coach.experience }}</span></p>
                    <p class="text-font">Certification: <span id="coach-certification">{{ coach.certification }}</span></p>
                    <p class="text-font">City: <span id="coach-city">{{ coach.city }}</span></p>
                    <p class="text-font">Address: <span id="coach-address">{{ coach.address }}</span></p>
                    <div class="modal-buttons">
                        <button class="rate-button">Rate Coach Now</button>
                        <button class="close-button" id="learnMore-button">Close</button>
                    </div>
                </div>
            </div>

            <div id="map-section">
                <!--<img id="map" src="" alt="Map">-->
                <!--we don't have an api key, so the map is not changing dynamically-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3386.646579144993!2d34.80139681455099!3d31.26256836092087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502665f2e01c71b%3A0x15ca4db0c140b893!2sOlympic%20Banquet%20Bang-Bang%20Ben-Gurion%20Blvd.!5e0!3m2!1sen!2suk!4v1645320678886!5m2!1sen!2suk"
                        width="100%" height="100%" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</div>

<!-- Rating Modal -->
<div id="ratingModal" class="rating-modal">
    <div class="rating-modal-content">
        <span class="close">&times;</span>
        <h1 class="main-title">Rate Coach</h1>
        <div id="ratingStars">
            <span class="star" data-rating="1">&#9733;</span>
            <span class="star" data-rating="2">&#9733;</span>
            <span class="star" data-rating="3">&#9733;</span>
            <span class="star" data-rating="4">&#9733;</span>
            <span class="star" data-rating="5">&#9733;</span>
        </div>
        <button class="submit-rating">Submit</button>
    </div>
</div>