.flex-navbar a:nth-child(1) {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 20px;
}

.hello-user {
    text-align: center;
    color: #6E6E6E;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    background-color: rgba(248, 249, 250, 0.38);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    display: flex;
    flex-direction: column;
}

.search-input select,
.search-input input[type="radio"] {
    background-color: rgba(142, 142, 142, 0.3);
    border: 3px solid #8E8E8E;
    border-radius: 10px;
}

.search-input select {
    width: 150px;
}

.search-input input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 5px;
}

.search-input input[type="radio"] + label {
    margin-left: 5px;
}

.search-button,
#contact-me-button {
    background-color: #8E8E8E;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.search-button:hover,
#contact-me-button:hover {
    background-color: rgba(0, 0, 0, 50%);
    color: #D9D9D9;
}

#contact-me-button {
    display: block;
    margin: auto;
}

.coach {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}

.coach .coach-name {
    font-weight: bold;
    margin: 20px;
}

.coach .stars {
    color: #ffd700;
}

.coach .learn-more-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.coach .learn-more-button:hover {
    background-color: #45a049;
}

.coach .addToFavorites-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.coach .addToFavorites-button:hover {
    background-color: #006F9F;
}

/* Style for when the coach is in favorites */
.coach .in-favorites {
    /* Style it similar to the button but indicating it's already a favorite */
    padding: 5px 10px;
    font-size: 14px;
    background-color: #CCCCCC; /* Grayed out or any other indication */
    color: white;
    margin-right: 20px;

}

.details-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#confirmation-message {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px) {
    .coach {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .coach .addToFavorites-button {
        margin: 10px;
    }
}
